include "menu.config"

layout "hbar" {
    layer = "top"
    edge = "bottom"
    monitor = "eDP-1"

    grid {
        style = "left-section"

        grid { style = "start-button" image { value = "images/labwc-bright.png" } label { value = "スタート" } action = Popup("startmenu"); }
    }

    grid {
        style = "middle-section"
        css = "grid { -GtkWidget-hexpand: true; }"

        image { style = "launchers-decor" value = "images/dots.svg" }

        grid {
            style = "launchers"

            button { style = "launcher" value = "foot" action = Exec("foot"); }
            button { style = "launcher" value = "firefox" action = Exec("firefox"); }
            button { style = "launcher" value = "thunar" action = Exec("thunar"); }
            button { style = "launcher" value = "vscodium" action = Exec("vscodium"); }
            button { style = "launcher" value = "inkscape" action= Exec("inkscape"); }
            button { style = "launcher" value = "gimp" action= Exec("gimp"); }
        }

        image { style = "launchers-decor" value = "images/dots.svg" }

        taskbar {
            style = "taskbar"
            css = "grid { -GtkWidget-hexpand: false; }"

            rows = 1
            group = false
            tooltips = false
            icons = true
            labels = true
        }
    }

    grid {
        style = "right-section"
        css = "grid { -GtkWidget-hexpand: false; }"

        grid {
            style = "systray"

            tray { rows = 1 }

            widget "volume.widget" {
                simple_icon = True
            }

            widget "battery.widget" {
                style = "battery"
                value = "battery"
                device = 'BAT0'
                simple_icon = True
            }
        }

        widget "clock.widget" {
            style = "clock"
            time_format = "%I:%M %p"
        }
    }
}

