/* *** WARNING *** */
/*
    This config is completely hardcoded
    and its messiness may cause you serious brain damage.
*/

module("appmenu")
Var HOME_DIR = "/home/tailr"; # Can't figure out how to spawn shell cmd :3

popup "startmenu" {
    AutoClose = false

    grid {
        css = "* { -GtkWidget-direction: bottom; }"
        style = "startmenu_root_grid"

        grid {
            style = "startmenu_title"

            image { value = "images/pfp.jpg" }
            label { value = "Administrator"}
        }

        grid {
            css = "* { -GtkWidget-column-homogeneous: true; }"
            style = "startmenu_body"

            grid {
                css = "* {
                    -GtkWidget-direction: bottom;
                    -GtkWidget-column-homogeneous: false;
                }"

                style = "startmenu_body_left"

                grid {
                    style = "firefox_grid"
                    image { value = "Firefox" }
                    grid {
                        css = "* {
                            -GtkWidget-direction: bottom;
                            -GtkWidget-vexpand: false;
                        }"
                        grid { label { css = "label { font-weight: bold; }"value = "Internet" } }
                        grid { label { css = "label { color: #4f5966; text-shadow: none; }" value = "Mozilla Firefox" } }
                    }
                    action = Exec("firefox");
                }

                grid {
                    style = "thunderbird_grid"
                    image { value = "images/thunderbird.png" }
                    grid {
                        css = "* {
                            -GtkWidget-direction: bottom;
                            -GtkWidget-vexpand: false;
                        }"
                        grid { label { css = "label { font-weight: bold; }" value = "E-Mail" } }
                        grid { label { css = "label { color: #4f5966; text-shadow: none; }" value = "Mozilla Thunderbird" } }
                    }
                    action = Exec("thunderbird");
                }

                grid { style = "media_player_grid"  image { value = "VLC" }                 label { value = "Media Player" } action = Exec("vlc"); }
                grid { style = "image_viewer_grid"  image { value = "ristretto" }           label { value = "Image Viewer" } action = Exec("ristretto"); }
                grid { style = "notepad_grid"       image { value = "text-editor" }         label { value = "Notepad" } action = Exec("vscodium"); }
                grid { style = "mines_grid"        image { value = "images/minesimple.png" } label { value = "Minesweeper" } action = Exec("gnome-mines"); }
                grid { style = "startmenu_body_left_bottom_padding" }
                grid { style = "all_programs_grid"  label { value = "All Programs" }        image { value = "go-next" } action = Menu("app_menu_system"); }
            }

            grid {
                css = "* {
                    -GtkWidget-direction: bottom;
                    -GtkWidget-column-homogeneous: false;
                }"

                style = "startmenu_body_right"

                grid { image { value = "document-open-recent" }     label { css = "label { font-weight: bold; }" value = "My Recent Documents" } action = Exec("thunar recent:///"); }
                grid { image { value = "folder-documents" }         label { css = "label { font-weight: bold; }" value = "My Documents" }        action = Exec("thunar " + HOME_DIR + "/Documents"); }
                grid { image { value = "folder-pictures" }          label { css = "label { font-weight: bold; }" value = "My Pictures" }         action = Exec("thunar " + HOME_DIR + "/Pictures"); }
                grid { image { value = "folder-music" }             label { css = "label { font-weight: bold; }" value = "My Music" }            action = Exec("thunar " + HOME_DIR + "/Music"); }
                grid { image { value = "folder-videos" }            label { css = "label { font-weight: bold; }" value = "My Videos" }           action = Exec("thunar " + HOME_DIR + "/Videos"); }
                grid { style = "my_computer_grid" image { value = "computer" }                 label { css = "label { font-weight: bold; }" value = "My Computer" }         action = Exec("thunar /"); }
                grid { image { value = "terminal" }                 label { value = "Command Prompt" }  action = Exec("kitty"); }
                grid { image { value = "utilities-system-monitor" } label { value = "System Monitor" }  action = Exec(""); }
                grid { image { value = "preferences-system" }       label { value = "Preferences" }      action = Exec("nwg-look"); }
            }

        }

        grid {
            style = "startmenu_bottom"

            grid { css = "* { -GtkWidget-hexpand: true; -GtkWidget-halign: end; }" image { value = HOME_DIR + "/.themes/HoneyOats/labwc/startmenu_logout.svg" }  label { value = "Log Off" } action = Exec(""); }
            grid { css = "* { -GtkWidget-hexpand: false; -GtkWidget-halign: end; }" image { value = HOME_DIR + "/.themes/HoneyOats/labwc/startmenu_shutdown.svg" }  label { value = "Turn Off Computer" } action = Exec(""); }
        }
    }
}

#CSS
window#startmenu {
    background-color: transparent;
}

#startmenu_root_grid {
    border: 1px solid #666666;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
    margin: 12px;
}

#startmenu_title {
    background-image: linear-gradient(180deg, #ffffff, #964c67, #532d46, #e892b0);

    border-top: 1px solid #964c67;
    border-left: 1px solid #964c67;
    border-right: 2px solid #964c67;
    border-bottom: 2px solid #532d46;

    border-radius: 4px 4px 0px 0px;
    padding: 8px;
}

#startmenu_title image {
    min-width: 42px;
    min-height: 42px;
    box-shadow: 0px 0px 4px silver;

    border: 2px solid #ffffff;
}

#startmenu_title label {
    color: #ffffff;
    font-size: 12pt;
    font-family: "MochiyPopOne";
    text-shadow: 1px 1px 2px silver;

    margin-left: 12px;
}

#startmenu_body_left,
#startmenu_body_right {
    padding: 4px;
}

#startmenu_body_left grid,
#startmenu_body_right grid {
    -GtkWidget-vexpand: false;
    min-width: 120px;
}

#startmenu_body_left {
    background-image: linear-gradient(180deg, #ffffff, #fafafa, #fafafa, #ffffff);
}

#startmenu_body_right {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75) inset;
}

#startmenu_body_left image,
#startmenu_bottom image {
    min-width: 32px;
    min-height: 32px;
}

#startmenu_body_right image {
    min-width: 24px;
    min-height: 24px;
}

#startmenu_body label,
#startmenu_bottom label {
    color: #24292f;
    font-size: 11pt;
    font-family: "IBMPlexSansJP";
    text-shadow: 1px 1px 2px silver;

    margin-top: 2px;
    margin-left: 8px;
    margin-right: 12px;
}

#startmenu_body_left_bottom_padding {
    min-height: 64px;
}

#firefox_grid,
#thunderbird_grid,
#media_player_grid,
#image_viewer_grid,
#notepad_grid,
#mines_grid,
#all_programs_grid {
    padding: 8px;
}

#all_programs_grid {
    border-top: 1px solid #a4a3af;
}

#thunderbird_grid,
#my_computer_grid {
    border-bottom: 1px solid #a4a3af;

    padding-bottom: 12px;
    margin-bottom: 4px;
}

#startmenu_body_right grid {
    padding: 8px;
}

#startmenu_bottom {
    background-image: linear-gradient(180deg, #ffffff, #d3d2e0, #a4a3af, #e4e3f1);

    border-top: 1px solid #a4a3af;
    border-left: 1px solid #a4a3af;
    border-right: 2px solid #a4a3af;
    border-bottom: 2px solid #686773;

    padding: 6px;
}

