/* Global */
* {
    -GtkWidget-vexpand: true;
}

window#hbar{
    background-color: transparent;
}

button {
    all: unset;
}

/* Top level grid */
grid#layout {
    min-height: 42px;
    background-image: linear-gradient(
        180deg,
        #ffffff 0%,
        #9594a0 16%,
        #9594a0 16%,
        #ffffff 84%,
        #ffffff 84%,
        #9594a0
    );

    border: 1px solid #666666;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
    margin-top: 8px;
}

/* Left */
#left-section {
}

#start-button {
    background-image: linear-gradient(180deg, #ffffff, #964c67, #532d46, #e892b0);

    border-top: 1px solid #964c67;
    border-left: 1px solid #964c67;
    border-right: 2px solid #964c67;
    border-bottom: 2px solid #532d46;

    border-top-right-radius: 14px 24px;
    border-bottom-right-radius: 14px 24px;

    padding-right: 22px;
    padding-left: 14px;
}

#start-button label {
    color: #ffffff;
    font-family: "MochiyPopOne";
    font-size: 11pt;
    text-shadow: 1px 1px 2px silver;

    padding-left: 4px;
}

#start-button image {
    min-height: 24px;
    min-width: 24px;
}

#launchers-decor {
    -GtkWidget-halign: center;
    -GtkWidget-valign: center;

    min-width: 8px;
    min-height: 28px;

    margin: 0px 4px 0px 8px;
}

#launchers {
    margin: 2px 0px 2px 0px;
}

#launchers image {
    min-width: 24px;
    min-height: 24px;
}

#launchers button {
    margin: 0px 2px 0px 2px;
}

/* Middle */
#middle-section {
}

#taskbar {
    padding: 4px;

}

#taskbar_item label {
    padding-top: 2px;
}

#taskbar_item image {
    min-width: 20px;
    min-height: 20px;
}

button#taskbar_item {
    -GtkWidget-hexpand: true;
    -GtkWidget-max-width: 240;
    font-family: "IBMPlexSansJP";
    font-size: 11pt;

    border-radius: 4px;
    padding: 2px 12px 2px 6px;
    margin: 0px 1px 0px 0px;
}

button#taskbar_item {
    color: #24292f;
    text-shadow: 1px 1px 2px silver;
    background-image: linear-gradient(180deg, #ffffff, #d3d2e0, #a4a3af, #e4e3f1);

    border-top: 1px solid #a4a3af;
    border-left: 1px solid #a4a3af;
    border-right: 2px solid #a4a3af;
    border-bottom: 2px solid #686773;
}

button#taskbar_item.focused {
    color: #fafafa;
    text-shadow: 1px 1px 2px silver;
    background-image: linear-gradient(180deg, #ffffff, #964c67, #532d46, #e892b0);

    border-top: 1px solid #964c67;
    border-left: 1px solid #964c67;
    border-right: 2px solid #964c67;
    border-bottom: 2px solid #532d46;
}

button#taskbar_item.hover {}

button#taskbar_item label {
    padding-left: 5px;
}

/* Right */
#right-section {
    background-color: #e4e3f0;
    background-image: linear-gradient(180deg, #ffffff, #e4e3f0 12%, #e4e3f0 88%, #868590);

    border-left: 1px solid #666666;
    border-radius: 0px 0px 0px 0px;

    padding-left: 6px;

    box-shadow: -10px 0 10px -5px rgba(255, 255, 255, 0.75);
}

#systray {
    margin: 6px 0px 6px 6px;
}

#systray image {
    min-width: 18px;
    min-height: 18px;
}

#systray button {
    margin: 0px 2px 0px 2px;
}

#clock {
    color: #686773;
    font-family: "MochiyPopOne";
    font-size: 11pt;

    margin: 4px 12px 4px 4px;
}

